{% extends "layout.html.twig" %}

{% block content %}

    {% include 'inc/allpage.css.twig' %}
    {% include 'find/corporations/corporation.css.twig' %}

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="section mt-2">
            <div class="card">
                <div class="row p-2 align-items-center">
                    <div class="col-4 text-center">
                        <img src="{% if association.logo is defined and association.logo is not empty %}{{asset(association.logo)}}{% else %}{{asset("assets/img/sample/photo/Faluche.png")}}{% endif %}" class="card-img w-75" alt="image" >
                    </div>
                    <div class="col-8">
                    <!-- <div class="card-body"> -->
                        <h5 class="card-title" style="font-size: 6vw !important">{{association.name}}</h5>
                        <h6 class="card-subtitle">{% if association.nickname is defined and association.nickname != '' %}({{association.nickname}}){% endif %} {{association.town}}, {{association.country}}</h6>
                        <h6 class="card-subtitle">{% if association.creation is defined %}{{association.creation|date("d/m/Y")}}{% endif %}</h6>
                        <!-- <p class="card-text">Paris, France</p> -->
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="section full mt-2">
            <div class="section full">
                <div class="wide-block transparent p-0">
                    <ul class="nav nav-tabs lined iconed" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#informations" role="tab">
                                <ion-icon name="information-circle-outline"></ion-icon>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#decorum" role="tab">
                                <ion-icon name="trophy-outline"></ion-icon>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#chant" role="tab">
                                <ion-icon name="musical-notes-outline"></ion-icon>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#membres" role="tab">
                                <ion-icon name="people-outline"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            
            {# <div class="section full mb-2"> #}
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="informations" role="tabpanel">
                        {% if association.resume is defined and association.resume is not empty and association.resume != '' %}
                            <div class="section full">
                                <div class="section-title py-2">Résumé</div>
                                <div class="wide-block pt-2 pb-1">
                                    <p>
                                    {{association.resume}}
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                        {% if association.resume is defined and association.resume is not empty and association.resume != '' %}
                            <div class="section full">
                                <div class="section-title py-2">Particularités</div>
                                <ol class="list-group list-group-numbered list-group-flush py-1" style="border-top: 1px solid #E1E1E1;">
                                    {% for particu in association.particularity %}
                                        <li class="list-group-item border-0">{{particu}}</li>
                                        {% if not loop.last %}
                                            <hr class="m-0" style="width: 75% !important; margin-left: 12.5% !important;">
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                        {% endif %}
                        
                        {% if association.anecdote is defined and association.anecdote is not empty and association.anecdote != '' %}
                        <div class="section full">
                            <div class="section-title py-2" style="border-top: 1px solid #E1E1E1;">Anecdotes</div>

                        <ul class="listview image-listview media">

                            {% for key, anecdo in association.anecdote %}
                                <li class="multi-level">
                                    <a href="#" class="item">
                                        <div class="imageWrapper" data-bs-toggle="modal" data-bs-target="#DialogImageAnecdote{{key}}">
                                        </div>
                                        <div class="in">
                                            <div>
                                                <span>{{anecdo.title}}</span>
                                                <div class="text-muted">
                                                    {% if anecdo.year is defined and anecdo.year is not empty and anecdo.year != '' %}<i>{{anecdo.year|date("d/m/Y")}}</i>{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul class="listview simple-listview" style="padding-left: 0px !important;">
                                        <li class="">
                                        <div class="d-flex">
                                            {% if anecdo.file is defined and anecdo.file is not empty %}<img src="{% if anecdo.file is defined and anecdo.file is not empty %}{{asset(anecdo.file.0.path)}}{% else %}{{asset("assets/img/sample/photo/Faluche.png")}}{% endif %}" alt="image" class="imaged w64">{% endif %}
                                            <div class="my-auto">
                                                <div class="mx-3">{{anecdo.text}}</div>
                                                <div class="mx-3 text-muted">{{anecdo.source??""}}</div>
                                            </div>
                                        </div>
                                        </li>
                                    </ul>
                                </li>
                                {% if anecdo.file is defined %}
                                    <!-- Dialog Image -->
                                    <div class="modal fade dialogbox" id="DialogImageAnecdote{{key}}" data-bs-backdrop="static" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <img src="{{asset(anecdo.file.0.path)}}" alt="image" class="img-fluid">
                                                <div class="modal-footer">
                                                    <div class="btn-inline">
                                                        <a href="#" class="btn btn-text-secondary" data-bs-dismiss="modal">Fermer</a>
                                                        <a href="#" class="btn btn-text-primary" data-bs-dismiss="modal">SHARE</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </ul>






                            {# <div class="section full mt-0">
                                {% for key, anecdo in association.anecdote %}
                                    <div class="accordion" id="accordionExample{{key}}">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#accordion{{key}}">
                                                    {{anecdo.title}}
                                                </button>
                                            </h2>
                                            <div id="accordion{{key}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample{{key}}">
                                                <div class="accordion-body">
                                                    {{anecdo.text}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div> #}






                        </div>
                        {% endif %}

                        {% if association.document is defined and association.document is not empty and association.document != '' %}
                        <div class="section full">
                            <div class="section-title py-2" style="border-top: 1px solid #E1E1E1;">Documents</div>
                            <div class="section full mt-0">
                                <ul class="listview link-listview">
                                    {% for key, docu in association.document %}
                                        <li>
                                            <a href="{{asset(docu.file.path)}}" target="_blank">
                                                <div>
                                                    <span class="mb-05">{{docu.title}}</span>
                                                    <div class="text-muted">
                                                        <div>
                                                            {{docu.type}} {% if docu.year is defined and docu.year is not empty and docu.year != '' %} - {{docu.year|date("d/m/Y")}}{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}

                        <div class="text-center">
                            <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#ModalBasic">Soumettre une information</button>
                        </div>
                    </div>

                    <!-- Modal Basic -->
                    <div class="modal fade modalbox" id="ModalBasic" data-bs-backdrop="static" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Soumission d'information</h5>
                                    <a href="#" data-bs-dismiss="modal">Close</a>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum, urna eget finibus
                                        fermentum, velit metus maximus erat, nec sodales elit justo vitae sapien. Sed fermentum
                                        varius erat, et dictum lorem. Cras pulvinar vestibulum purus sed hendrerit. Praesent et
                                        auctor dolor. Ut sed ultrices justo. Fusce tortor erat, scelerisque sit amet diam rhoncus,
                                        cursus dictum lorem. Ut vitae arcu egestas, congue nulla at, gravida purus.
                                    </p>
                                    <p>
                                        Donec in justo urna. Fusce pretium quam sed viverra blandit. Vivamus a facilisis lectus.
                                        Nunc non aliquet nulla. Aenean arcu metus, dictum tincidunt lacinia quis, efficitur vitae
                                        dui. Integer id nisi sit amet leo rutrum placerat in ac tortor. Duis sed fermentum mi, ut
                                        vulputate ligula.
                                    </p>
                                    <p>
                                        Vivamus eget sodales elit, cursus scelerisque leo. Suspendisse lorem leo, sollicitudin
                                        egestas interdum sit amet, sollicitudin tristique ex. Class aptent taciti sociosqu ad litora
                                        torquent per conubia nostra, per inceptos himenaeos. Phasellus id ultricies eros. Praesent
                                        vulputate interdum dapibus. Duis varius faucibus metus, eget sagittis purus consectetur in.
                                        Praesent fringilla tristique sapien, et maximus tellus dapibus a. Quisque nec magna dapibus
                                        sapien iaculis consectetur. Fusce in vehicula arcu. Aliquam erat volutpat. Class aptent
                                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- * Modal Basic -->

                    {% if association.decorum is defined and association.decorum is not empty and association.decorum != '' %}
                    <div class="tab-pane fade" id="decorum" role="tabpanel">
                        <div class="section-title py-2">Transmission</div>
                        <ul class="listview image-listview media">

                            {% for key, deco in association.decorum %}
                                <li class="multi-level">
                                    <a href="#" class="item">
                                        <div class="imageWrapper" data-bs-toggle="modal" data-bs-target="#DialogImageDecorum{{key}}">
                                            <img src="{% if deco.file is defined and deco.file is not empty %}{{asset(deco.file.0.path)}}{% else %}{{asset("assets/img/sample/photo/Faluche.png")}}{% endif %}" alt="image" class="imaged w64">
                                        </div>
                                        <div class="in">
                                            <div>
                                                <span>{{deco.title}}</span>
                                                <div class="text-muted">
                                                    {{deco.type}} {% if deco.year is defined and deco.year is not empty and deco.year != '' %} - {{deco.year|date("d/m/Y")}}{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul class="listview simple-listview" style="padding-left: 0px !important;">
                                        <li>{{deco.text}}</li>
                                    </ul>
                                </li>
                                {% if deco.file is defined %}
                                    <!-- Dialog Image -->
                                    <div class="modal fade dialogbox" id="DialogImageDecorum{{key}}" data-bs-backdrop="static" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <img src="{{asset(deco.file.0.path)}}" alt="image" class="img-fluid">
                                                <div class="modal-footer">
                                                    <div class="btn-inline">
                                                        <a href="#" class="btn btn-text-secondary" data-bs-dismiss="modal">Fermer</a>
                                                        <a href="#" class="btn btn-text-primary" data-bs-dismiss="modal">SHARE</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </ul>
                        {% endif %}

                        {% if association.goodies is defined and association.goodies is not empty and association.goodies != '' %}
                        <div class="section-title py-2" style="border-bottom: 1px solid #E1E1E1;">Goodies</div>
                        <!-- feed -->
                        <div class="tab-pane fade show active" id="feed" role="tabpanel">
                            <div class="mt-2 p-2 pt-0 pb-0">
                                <div class="row">
                                    {% for key, goodie in association.goodies %}
                                        <div class="col-4 mb-2" data-bs-toggle="modal" data-bs-target="#DialogImageGoodies{{key}}">
                                            <img src="{{asset(goodie.file.0.path)}}" alt="image" class="imaged w-100">
                                        </div>
                                    
                                        <!-- Dialog Image -->
                                        <div class="modal fade dialogbox" id="DialogImageGoodies{{key}}" data-bs-backdrop="static" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <img src="{{asset(goodie.file.0.path)}}" alt="image" class="img-fluid">
                                                    <div class="modal-footer">
                                                        <div class="infosmodalimage m-0 p-1">
                                                            <b>{{goodie.title}}</b>
                                                            <i>({{goodie.type}}{% if goodie.year is defined and goodie.year is not empty and goodie.year != '' %} - {{goodie.year|date("d/m/Y")}}</i>{% endif %})</i><br>
                                                            {% if goodie.text is defined and goodie.text is not empty and goodie.text != '' %}<span>{{goodie.text}}</span>{% endif %}<br>
                                                            <div class="text-muted">Source : {{goodie.source}}</div>
                                                        </div>
                                                        <div class="btn-inline">
                                                            <a href="#" class="btn btn-text-secondary" data-bs-dismiss="modal">Fermer</a>
                                                            <a href="#" class="btn btn-text-primary" data-bs-dismiss="modal">SHARE</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        
                <!-- * Dialog Image -->
                <!-- * feed -->
                    </div>

                    {% if association.sing is defined and association.sing is not empty and association.sing != '' %}
                    <div class="tab-pane fade" id="chant" role="tabpanel">
                        <div class="blog-post text-center">
                            <h2 class="title pt-2">{{association.sing.title}}</h2>
                
                            <div class="post-body">
                                {{association.sing.text}}
                            </div>
                            {% if association.sing.author is defined or association.sing.year is defined %}
                                <div class="post-header">
                                    <div>
                                        <a href="#">
                                            {% if association.sing.author is defined %}{{association.sing.author}}{% endif %}
                                        </a>
                                    </div>
                                    {% if association.sing.year is defined %}{{association.sing.year|date("d/m/Y")}}{% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}



                    <div class="tab-pane fade" id="membres" role="tabpanel">
                        <div class="wide-block pt-2 pb-2">

                            <ul class="nav nav-tabs capsuled" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#comite" role="tab">
                                        Comité
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#baptise" role="tab">
                                        Baptisé
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#impetrant" role="tab">
                                        Impétrant
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- comite -->
                                <div class="tab-pane fade show active" id="comite" role="tabpanel">

                                    <div class="section full mb-2 mt-2">
                                        <div class="wide-block p-0">
                            
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-2">Année</th>
                                                            <th class="col-2">Poste</th>
                                                            <th class="col-8">Personne</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>


                                                    {% for key, commit in association.committee%}
                                                        <tr style="height: 80px;">
                                                            <th class="align-middle">{{key}}</th>
                                                            <td class="p-0">
                                                                <table class="table" style="height: 80px;">
                                                                    {% for key, postes in commit|sort %}
                                                                        {% set dimensions = postes|length %}
                                                                        {% for i in 0..(dimensions - 1) %}
                                                                            <tr style="height: 80px;">
                                                                                <td class="align-middle">{{ key }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                </table>
                                                            </td>
                                                            <td class="p-0">
                                                                <table class="table" style="height: 80px;">
                                                                {% for key, postes in commit %}
                                                                    {% for key, poste in postes %}
                                                                      <tr  style="height: 80px;">
                                                                        <td class="align-middle">{{poste.firstname??""}} {{poste.name??""}} {% if poste.nickname is defined and poste.nickname is not empty and poste.nickname != '' %} | {{poste.nickname}}{% endif %}</td>
                                                                      </tr>
                                                                    {% endfor %}
                                                                {% endfor %}
                                                                </table>
                                                            </td>
                                                        </tr>
                                                
                                                    {% endfor %}


                                                        {# <tr>
                                                            <th>2022</th>
                                                            <td class="p-0">
                                                                <table class="table">
                                                                      <tr>
                                                                        <td>GM</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>GC</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>GC</td>
                                                                      </tr>
                                                                  </table>
                                                            </td>
                                                            <td class="p-0">
                                                                <table class="table">
                                                                      <tr>
                                                                        <td>Mark Repère</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>Jacob Nickolson</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>Larry Bird</td>
                                                                      </tr>
                                                                  </table>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <th>2022</th>
                                                            <td class="p-0">
                                                                <table class="table">
                                                                      <tr>
                                                                        <td>GM</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>GC</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>GC</td>
                                                                      </tr>
                                                                  </table>
                                                            </td>
                                                            <td class="p-0">
                                                                <table class="table">
                                                                      <tr>
                                                                        <td>Mark Repère</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>Jacob Nickolson</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>Larry Bird</td>
                                                                      </tr>
                                                                  </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>2021</th>
                                                            <td class="p-0">
                                                                <table class="table">
                                                                      <tr>
                                                                        <td>GM</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>GC</td>
                                                                      </tr>
                                                                  </table>
                                                            </td>
                                                            <td class="p-0">
                                                                <table class="table">
                                                                      <tr>
                                                                        <td>Mark</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>Jacob</td>
                                                                      </tr>
                                                                  </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>2020</th>
                                                            <td class="p-0">
                                                                <table class="table">
                                                                      <tr>
                                                                        <td>GM</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>GC</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>GC</td>
                                                                      </tr>
                                                                  </table>
                                                            </td>
                                                            <td class="p-0">
                                                                <table class="table">
                                                                      <tr>
                                                                        <td>Mark</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>Jacob</td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td>Larry</td>
                                                                      </tr>
                                                                  </table>
                                                            </td>
                                                        </tr> #}
                                                    </tbody>
                                                </table>
                                            </div>
                            
                                        </div>
                                    </div>





                                </div>
                                <!-- comite -->
                                <!-- baptise -->
                                <div class="tab-pane fade" id="baptise" role="tabpanel">
                                    <ul class="listview image-listview flush transparent pt-1">
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar3.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Edward Baptise
                                                        <div class="text-muted">532 followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar2.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Emelda Scandroot
                                                        <div class="text-muted">120k followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar5.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Henry Bove
                                                        <div class="text-muted">920k followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar4.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Ava Gregoraci
                                                        <div class="text-muted">5092 followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar6.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Emmy Elsner
                                                        <div class="text-muted">92 followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar7.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Lisanne Viscaal
                                                        <div class="text-muted">893 followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar10.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Cecilia Pozo
                                                        <div class="text-muted">51k followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- baptise -->
                                <!-- impetrant -->
                                <div class="tab-pane fade" id="impetrant" role="tabpanel">
                                    <ul class="listview image-listview flush transparent pt-1">
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar3.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Edward Impet
                                                        <div class="text-muted">532 followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar2.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Emelda Scandroot
                                                        <div class="text-muted">120k followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar5.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Henry Bove
                                                        <div class="text-muted">920k followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar4.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Ava Gregoraci
                                                        <div class="text-muted">5092 followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar6.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Emmy Elsner
                                                        <div class="text-muted">92 followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar7.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Lisanne Viscaal
                                                        <div class="text-muted">893 followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item">
                                                <img src="assets/img/sample/avatar/avatar10.jpg" alt="image" class="image">
                                                <div class="in">
                                                    <div>
                                                        Cecilia Pozo
                                                        <div class="text-muted">51k followers</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- impetrant -->
                            </div>
    
                        </div>
            <!-- </div> -->
        </div>

    </div>
    <!-- * App Capsule -->

{% endblock %}