{% set alphabet = "?" %}

{% for town in towns %}
    {% if town.name|first != alphabet %}
        {% set alphabet = town.name|first %}
        <div class="listview-title sticky-title">
            <strong>{{alphabet}}</strong>
        </div>
    {% endif %}
    <ul class="listview image-listview media">
        <li>
            <a href="{{ path('corporations', {'country': country, 'villeid': town.id, 'ville': town.name })}}">
                <div class="item">
                    <div class="imageWrapper">
                        <img src="{{asset(town.blason)}}" alt="image" class="blason">
                    </div>
                    <div class="in">
                        <div>
                            <h4 class="mb-05">{{town.name}}</h4>
                            <div class="text-muted">
                                <div>{{town.region}}, {{town.country}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
{% endfor %}