<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FIND{% endblock %}</title>        
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="theme-color" content="#000000">
        <link rel="icon" type="image/png" href="{{ asset("assets/img/32x32.png") }}" sizes="32x32">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("assets/img/icon/192x192.png") }}">
        {# <link rel="stylesheet" href="assets/css/style.css"> #}
        <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">
        {# <link rel="manifest" href="__manifest.json"> #}
        <link rel="manifest" href="{{ asset("__manifest.json") }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
