{% extends "layout.html.twig" %}

{# {% block title %}Accueil{% endblock %} #}

{% block content %}

{% include 'home/home.css.twig' %}
 <!-- App Capsule -->
    <div id="appCapsule">

        <!-- <div class="header-large-title text-center">
            <h1 class="title">Folklore Is Not Dead</h1> -->
            <!-- <h4 class="subtitle">Welcome to Mobilekit</h4> -->
        <!-- </div> -->

        <div class="section full mt-3 mb-3">

            <!-- CARDS COUNTRY -->
            <div class="section mt-4">
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-4">
                        <a href="{{ path('ville', {'country': 'France'})}}">
                            <div class="card product-card">
                                <div class="card-body text-center">
                                    <img src="{{ asset("app/assets/img/sample/photo/France.png") }}" class="image w-75" alt="product image">
                                    <h2 class="title">France</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="{{ path('ville', {'country': 'Belgique'})}}">
                            <div class="card product-card">
                                <div class="card-body  text-center">
                                    <img src="{{ asset("app/assets/img/sample/photo/Belgique.png") }}" class="image w-75" alt="product image">
                                    <h2 class="title">Belgique</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- * FIN CARDS COUNTRY-->

            {# INPUT RECHERCHE #}
            <div class="section full mt-2">
                <div class="pt-2 pb-1 px-4">
                    <form class="search-form">
                        <div class="form-group searchbox">
                            <input type="text" class="form-control" value="" placeholder="FIND">
                            <i class="input-icon">
                                <ion-icon name="search-outline"></ion-icon>
                            </i>
                        </div>
                    </form>
                </div>
            </div>
            {# FIN INPUT RECHERCHE #}

            <!-- BOUTON MODAL TRI -->
            <div>
                <button type="button" class="btn btn-primary p-0 ms-4" data-bs-toggle="modal" data-bs-target="#Modalfilter">
                <span class="mx-2">Filtrer</span>
                </button>
            </div>

            <!-- MODAL TRI -->
            <div class="modal fade" id="Modalfilter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered ">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Filtrer la recherche</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group col-12">
                            <label for="hat">Pays</label>
                            <select name="hat" class="form-select" id="countryfilter" {{required}}>
                                <option value="">/</option>
                                <option value="France">France</option>
                                <option value="Belgique">Belgique</option>
                            </select>
                        </div>

                        <div class="form-group col-12">
                            <label for="town">Région</label>
                            <select name="town" class="form-select" id="regionfilter" {{required}}>
                                <option value="">/</option>
                                {% for name in regions|sort %}
                                    <option value="{{name}}">{{name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-12">
                            <label for="town">Ville</label>
                            <select name="town" class="form-select" id="townfilter" {{required}}>
                                <option value="">/</option>
                                {% for town in towns|sort %}
                                    <option value="{{town.name}}">{{town.name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-12">
                            <label for="type">Type</label>
                            <select name="type" class="form-select" id="typefilter" {{required}}>
                                <option value="">/</option>
                                {% for name in listes[0]['assotype']|sort %}
                                    <option value="{{name}}">{{name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-12">
                            <label for="hat">Couvre-Chef</label>
                            <select name="hat" class="form-select" id="hatfilter" {{required}}>
                                <option value="">/</option>
                                {% for name in listes[0]['hats']|sort %}
                                    <option value="{{name}}">{{name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-12">
                            <label for="hat">Genre</label>
                            <select name="hat" class="form-select" id="genderfilter" {{required}}>
                                <option value="">/</option>
                                <option value="Mixte">Mixte</option>
                                <option value="Masculin">Masculin</option>
                                <option value="Féminin">Féminin</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button id="btntrier" type="button" class="btn btn-primary" data-bs-dismiss="modal">Trier</button>
                    </div>
                    </div>
                </div>
            </div>
            {# FIN MODAL TRI #}

            <!-- cards location -->
            {# <div class="section mt-2">
                <div class="row">
                    <div class="col-4">
                        <div class="card product-card">
                            <div class="card-body text-center">
                                <div><img src="{{ asset("app/assets/img/sample/photo/Faluche.png") }}" class="image w-75" alt="product image"></div>
                                <h2 class="title">Faluche</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card product-card">
                            <div class="card-body  text-center">
                                <img src="{{ asset("app/assets/img/sample/photo/Calotte.png") }}" class="image w-75" alt="product image">
                                <h2 class="title">Calotte</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card product-card">
                            <div class="card-body  text-center">
                                <img src="{{ asset("app/assets/img/sample/photo/Penne.png") }}" class="image w-75" alt="product image">
                                <h2 class="title">Penne</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div> #}
            <!-- * cards location -->

        </div>

        <div class="text-center" style="margin: 5em; ">
            <img src="{{ asset("app/assets/img/logo.png") }}" alt="logo" class="logo 
w-75">
        </div>
        <!-- app footer -->


        <div class="section inset mt-2 mb-5">

            <div class="accordion" id="accordionExample3">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#accordion001">
                            <ion-icon name="help-circle-outline"></ion-icon>
                            Le projet FIND
                        </button>
                    </h2>
                    <div id="accordion001" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
                        <div class="accordion-body">
                            FIND est une initiative ayant pour but la découverte, le partage et la sauvegarde du folklore étudiant. Vous pourrez y retrouver un grand nombre d’associations étudiantes folkloriques avec des informations tel leur fondation, leurs particularités, leurs goodies et bien d’autres choses !
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#accordion002">
                            <ion-icon name="document-outline"></ion-icon>
                            Les contributeurs
                        </button>
                    </h2>
                    <div id="accordion002" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
                        <div class="accordion-body">
                            <!-- <div class="section full mt-2 mb-2"> -->
                                <ul class="listview image-listview media">
                                    <li>
                                        <div class="item">
                                            <div class="imageWrapper">
                                                <img src="{{ asset("app/assets/img/sample/avatar/avatar1.jpg") }}" alt="image" class="imaged w64">
                                            </div>
                                            <div class="in">
                                                <div>
                                                    Estudiantinerie
                                                    <div class="text-muted">Musée Français du folklore étudiant</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <div class="imageWrapper">
                                                <img src="{{ asset("app/assets/img/sample/avatar/avatar2.jpg") }}" alt="image" class="imaged w64">
                                            </div>
                                            <div class="in">
                                                <div>
                                                    Musée Belge des Traditions Estudiantines
                                                    <div class="text-muted">Musée Belge du folklore étudiant</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#accordion003">
                            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                            Technologies utilisées
                        </button>
                    </h2>
                    <div id="accordion003" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
                        <div class="accordion-body">
                            <ion-icon name="logo-html5"></ion-icon>
                            <ion-icon name="logo-css3"></ion-icon>
                            <ion-icon name="logo-javascript"></ion-icon>
                            <i class="bi bi-bootstrap-fill"></i>
                            <ion-icon name="logo-sass"></ion-icon>
                            <ion-icon name="logo-pwa"></ion-icon>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- * app footer -->

    </div>
    <!-- * App Capsule -->
{% endblock %}
