{% extends "layout.html.twig" %}

{# {% block title %}Accueil{% endblock %} #}

{% block content %}

    {% include 'inc/allpage.css.twig' %}
    {% include 'find/find.css.twig' %}

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="section full mt-2 mb-3">
            <div class="pb-2 d-flex justify-content-center">
{# {{dump(allfilter)}}; #}
                <div class="py-2 px-3 position-absolute start-0">
                    <a href="javascript:;" class=" goBack text-secondary">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    <b><h2 id="titleFIND" class="my-auto {% if allfilter.country is empty and allfilter.town is empty and allfilter.typeasso is empty and allfilter.hat is empty and allfilter.gendertype is empty %}d-block{% else %}d-none{% endif %}">FIND</h2></b>
                    <span id="countrychoice"></span>
                    <span id="regionchoice"></span>
                    <span id="townchoice"></span>
                    <span id="typechoice"></span>
                    <span id="hatchoice"></span>
                    <span id="genderchoice"></span>
                </div>
            </div>
            <div class="px-4">
                <form class="search-form">
                    <div class="form-group searchbox">
                        <input type="text" class="form-control inputsearch" value="{{allfilter.text}}" placeholder="FIND" data-urlaction="{{ path("search_corporations") }}">
                        <i class="input-icon">
                            <ion-icon name="search-outline"></ion-icon>
                        </i>
                    </div>

                    <button type="button" class="btn btn-primary btn-sm  mt-1" data-bs-toggle="modal" data-bs-target="#Modalfilter">
                        <span>Filtrer</span>
                    </button>

                    {% include 'inc/tri_filtre/ig' %}

                    <button type="button" class="btn btn-primary btn-sm  mt-1" data-bs-toggle="offcanvas" data-bs-target="#actionSheetContentTri">Tri</button>

                    {% include 'inc/tri_filtre/tri.html.twig' %}

                </form>
            </div>
        </div>


        <div id="resultassociations" class="pb-2">
        {# {% if associations is not empty %}
            {% set alphabet = "?" %}

            {% for association in associations %}
                {% if association.name|first != alphabet %}
                    {% set alphabet = association.name|first %}
                    <div class="listview-title sticky-title">
                        <strong>{{alphabet}}</strong>
                    </div>
                {% endif %}
                <ul class="listview image-listview media">
                    <li>
                        <a href="{{ path('corporation', {'country': association.country, 'ville': association.town, 'corpo': association.name, 'associationid': association.id })}}">
                            <div class="item">
                                <div class="imageWrapper">
                                    <img src="{{asset(association.logo??"")}}" alt="image" class="blason">
                                </div>
                                <div class="in">
                                    <div>
                                        <h4 class="mb-05">{{association.name}}</h4>
                                        <div class="text-muted">
                                            <div>{% if association.nickname is defined and association.nickname != '' %}({{association.nickname}}){% endif %}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            {% endfor %}
            </div>
        {% else %}

            <div class="text-center item">Aucun résultat</div>

        {% endif %} #}
        {% include 'find/corporations/corporationsfiltered.html.twig' %}


        {# <div class="listview-title sticky-title">
            <strong>I</strong>
        </div>
        <ul class="listview image-listview media">
            <li>
                <div class="item">
                    <div class="imageWrapper">
                        <img src="assets/img/sample/avatar/avatar1.jpg" alt="image" class="imaged w64">
                    </div>
                    <div class="in">
                        <div>
                            <h4 class="mb-05">Interfilière</h4>
                            <div class="text-muted">
                                <div>(IPP)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="imageWrapper">
                        <img src="assets/img/sample/avatar/avatar1.jpg" alt="image" class="imaged w64">
                    </div>
                    <div class="in">
                        <div>
                            <h4 class="mb-05">Ingénieurs Puceaux Parisiens</h4>
                            <div class="text-muted">
                                <div>(IF)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="listview-title sticky-title">
            <strong>P</strong>
        </div>
        <ul class="listview image-listview media">
            <li>
                <div class="item">
                    <div class="imageWrapper">
                        <img src="assets/img/sample/avatar/avatar1.jpg" alt="image" class="imaged w64">
                    </div>
                    <div class="in">
                        <div>
                            <h4 class="mb-05">Parameds</h4>
                            <div class="text-muted">
                                <div>(Roses)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul> #}


    </div>


    <!-- * App Capsule -->
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% include 'find/home.js.twig' %}
    {% include 'find/corporations/corporations.js.twig' %}
{% endblock %}